In [1]:
import pandas as pd

<h1>Importing Dataset into Pandas</h1>

In [2]:
df = pd.read_csv('Dataset/ukrine_war_tweets.csv')
# .xlsx read_excel
# read_json
# read_html
# read_clipboard
# dict --> Pandas
# List --> Pandas

In [3]:
df

,Unnamed: 0,Datetime,Tweet Id,Text,Username
0,0,2022-05-23 23:59:09+00:00,1528888293852872704,#TikTok #russia #refugeecrisis #ukraine #famin...,Danaya_Pashneya
1,1,2022-05-23 23:58:52+00:00,1528888224713777154,Russian diplomat to U.N. Boris Bondarev resign...,MJoyce2625
2,2,2022-05-23 23:58:52+00:00,1528888224197660672,Ukrainian Presidential Office discloses how ma...,knittingknots
3,3,2022-05-23 23:58:52+00:00,1528888221907636224,Ukraine War: The battle for Severodonetsk http...,will385
4,4,2022-05-23 23:58:47+00:00,1528888200696975360,Alexander Lukashenko reminds me of an abused s...,i__heart__this
...,...,...,...,...,...
9996,9996,2022-05-22 13:14:06+00:00,1528363575844261892,@akshayalladi China doesn't want to treat anyo...,76MuSohlHW1jQ5J
9997,9997,2022-05-22 13:14:01+00:00,1528363553199214594,@karstenk713 @CikaCrni21 @welt ja klar sorgt d...,anti_prop
9998,9998,2022-05-22 13:13:58+00:00,1528363539928436736,"""Unprecedented"": Azov reveals how helicopters ...",knittingknots
9999,9999,2022-05-22 13:13:35+00:00,1528363443266396160,A lesson from the Ukraine war: Secure our semi...,Kogonuso_Media
10000,10000,2022-05-22 13:13:28+00:00,1528363414564782081,A lesson from the Ukraine war: Secure our semi...,Geezgo

In [4]:
# EDA -> Exploratory Data Analysis
df

,Unnamed: 0,Datetime,Tweet Id,Text,Username
0,0,2022-05-23 23:59:09+00:00,1528888293852872704,#TikTok #russia #refugeecrisis #ukraine #famin...,Danaya_Pashneya
1,1,2022-05-23 23:58:52+00:00,1528888224713777154,Russian diplomat to U.N. Boris Bondarev resign...,MJoyce2625
2,2,2022-05-23 23:58:52+00:00,1528888224197660672,Ukrainian Presidential Office discloses how ma...,knittingknots
3,3,2022-05-23 23:58:52+00:00,1528888221907636224,Ukraine War: The battle for Severodonetsk http...,will385
4,4,2022-05-23 23:58:47+00:00,1528888200696975360,Alexander Lukashenko reminds me of an abused s...,i__heart__this
...,...,...,...,...,...
9996,9996,2022-05-22 13:14:06+00:00,1528363575844261892,@akshayalladi China doesn't want to treat anyo...,76MuSohlHW1jQ5J
9997,9997,2022-05-22 13:14:01+00:00,1528363553199214594,@karstenk713 @CikaCrni21 @welt ja klar sorgt d...,anti_prop
9998,9998,2022-05-22 13:13:58+00:00,1528363539928436736,"""Unprecedented"": Azov reveals how helicopters ...",knittingknots
9999,9999,2022-05-22 13:13:35+00:00,1528363443266396160,A lesson from the Ukraine war: Secure our semi...,Kogonuso_Media
10000,10000,2022-05-22 13:13:28+00:00,1528363414564782081,A lesson from the Ukraine war: Secure our semi...,Geezgo

In [5]:
df.head(50)

,Unnamed: 0,Datetime,Tweet Id,Text,Username
0,0,2022-05-23 23:59:09+00:00,1528888293852872704,#TikTok #russia #refugeecrisis #ukraine #famin...,Danaya_Pashneya
1,1,2022-05-23 23:58:52+00:00,1528888224713777154,Russian diplomat to U.N. Boris Bondarev resign...,MJoyce2625
2,2,2022-05-23 23:58:52+00:00,1528888224197660672,Ukrainian Presidential Office discloses how ma...,knittingknots
3,3,2022-05-23 23:58:52+00:00,1528888221907636224,Ukraine War: The battle for Severodonetsk http...,will385
4,4,2022-05-23 23:58:47+00:00,1528888200696975360,Alexander Lukashenko reminds me of an abused s...,i__heart__this
5,5,2022-05-23 23:57:51+00:00,1528887967259021318,Ukraine war: Russian soldier Vadim Shishimarin...,slanceb1
6,6,2022-05-23 23:57:19+00:00,1528887831434862598,I was still celebrating the Ukraine war with a...,TheCoastalCons1
7,7,2022-05-23 23:56:39+00:00,1528887665109901312,Russian diplomat quits over Ukraine war and sa...,geekonline
8,8,2022-05-23 23:56:33+00:00,1528887639566434306,"Russia-Ukraine War: America, trapped in its wo...",finaxnewshindi
9,9,2022-05-23 23:55:38+00:00,1528887410595078145,Top Russian diplomat to UN resigns over Ukrain...,BKarkouch
10,10,2022-05-23 23:55:15+00:00,1528887312457035776,Ukrainian air defense forces destroy seven ene...,knittingknots
11,11,2022-05-23 23:54:46+00:00,1528887189802782720,Zelensky: Next few weeks of the war will be di...,knittingknots
12,12,2022-05-23 23:54:07+00:00,1528887027751690242,@shiftingshifter @_Makedonuts_ @yunuspaksoy @l...,Shimrod68
13,13,2022-05-23 23:54:06+00:00,1528887021812346880,"Ukrainian Joint Forces repel 16 enemy attacks,...",knittingknots
14,14,2022-05-23 23:53:49+00:00,1528886950656102400,Zelensky says only issue of ending war can be ...,knittingknots
15,15,2022-05-23 23:53:18+00:00,1528886822855512065,@speedlvr @FedUpKen Did you live under a rock ...,Icedeath_99
16,16,2022-05-23 23:53:11+00:00,1528886794984357889,It was eye opening seeing people use the Russi...,leosw778083
17,17,2022-05-23 23:53:05+00:00,1528886768304795649,Russian diplomat to UN Boris Bondarev resigns ...,zg4ever
18,18,2022-05-23 23:53:05+00:00,1528886766731939840,Russian forces kicked out of Toshkivka in Luha...,knittingknots
19,19,2022-05-23 23:52:48+00:00,1528886696019779584,THIS IS SO TERRIBLE HEART BROKEN. Every soldi...,HONGTUOI1
20,20,2022-05-23 23:52:45+00:00,1528886684942643200,Ukraine's Armed Forces destroy 30 invaders and...,knittingknots
21,21,2022-05-23 23:52:38+00:00,1528886653443768320,@leftistlitwick The funniest thing is that the...,realsamigold
22,22,2022-05-23 23:52:24+00:00,1528886597454004224,Russian missile shot down over Kirovohrad regi...,knittingknots
23,23,2022-05-23 23:52:20+00:00,1528886581272416256,Powerful American Artillery Enters the Fight i...,DudleyMecum
24,24,2022-05-23 23:52:18+00:00,1528886570350424064,Russia-Ukraine war: 48 more Russian soldiers t...,Jerryh8va
25,25,2022-05-23 23:51:36+00:00,1528886394495582208,World has just 10 weeks' worth of wheat left a...,JessyJamesC
26,26,2022-05-23 23:51:34+00:00,1528886387809787904,Honored to be part of @ICFJ jury that chose 20...,Indira_L
27,27,2022-05-23 23:51:12+00:00,1528886292464799744,Local residents of Kyiv region are shocked aft...,_GodSaveUkraine
28,28,2022-05-23 23:50:02+00:00,1528886002525548544,“48 more Russian soldiers to face war crimes t...,norionakatsuji
29,29,2022-05-23 23:49:06+00:00,1528885766440763392,Russia-Ukraine war: what we know on day 89 of ...,SlaterDorie
30,30,2022-05-23 23:48:48+00:00,1528885688082792448,'Putin Is The Devil!' Daghestani Schoolgirl Pr...,NotRussianFed
31,31,2022-05-23 23:48:18+00:00,1528885563083964416,Global dividend outlook stabilises in spite of...,CryptoEyeNews
32,32,2022-05-23 23:48:17+00:00,1528885561804693505,Global dividend outlook stabilises in spite of...,eye_financial
33,33,2022-05-23 23:48:14+00:00,1528885546780459008,Russian soldier jailed for life in first war c...,yasmeen_9
34,34,2022-05-23 23:46:45+00:00,1528885172837531651,Ukraine war is staged only to destroy evidence...,Sunburn0856
35,35,2022-05-23 23:45:08+00:00,1528884768590266369,LUHANSK AND DONETSK: RUSSIAN ATTACKS ON 38 SET...,FreeCiviliansUA
36,36,2022-05-23 23:45:03+00:00,1528884745827852294,"Come on @POTUS, at least finish #UkraineRussia...",SakinaAmani
37,37,2022-05-23 23:44:19+00:00,1528884560313950208,"Накидайте на це йобанне біосміття скарг, Будь ...",pisska_bobra
38,38,2022-05-23 23:43:45+00:00,1528884417871028225,When do we get Ukraine war footage to Ghostema...,gigabilly
39,39,2022-05-23 23:43:04+00:00,1528884247645155329,The Russia-Ukraine war has broken three uncont...,RealMalaton
40,40,2022-05-23 23:42:41+00:00,1528884149267927040,https://t.co/EJHDAn7T0d\n\n#Ukraine #UkraineWa...,Eaquiles2020
41,41,2022-05-23 23:42:36+00:00,1528884131311955968,The $40 billion act for aiding #Ukraine marked...,RealMalaton
42,42,2022-05-23 23:41:39+00:00,1528883889199906818,Seriously can't comprehend how $40 BILLION Wor...,MichaelHeckert
43,43,2022-05-23 23:41:07+00:00,1528883756492378112,Outgoing President Rodrigo Duterte said he hop...,inquirerdotnet
44,44,2022-05-23 23:40:43+00:00,1528883656395194368,Joe Biden is praying no one sees this Fox News...,JeanasNews
45,45,2022-05-23 23:39:26+00:00,1528883332511039488,The world has just ten weeks' worth of wheat l...,VippusaO
46,46,2022-05-23 23:38:26+00:00,1528883083067654144,"After 15 years, Starbucks has announced that i...",EmpactNews
47,47,2022-05-23 23:37:56+00:00,1528882955665297410,DONETSK OBLAST: 3 DEAD AND 6 WOUNDED BY RUSSIA...,FreeCiviliansUA
48,48,2022-05-23 23:37:39+00:00,1528882883426848769,EXCELLENT Interview. Before you cheer for Ukra...,CarrieK40397020
49,49,2022-05-23 23:37:25+00:00,1528882823427346434,@healing_energy4 @BBCWorld imo: 1/2\n1) invadi...,Bill43094828

In [6]:
df.tail(50)

,Unnamed: 0,Datetime,Tweet Id,Text,Username
9951,9951,2022-05-22 13:20:45+00:00,1528365249014820864,"Gyanvapi mosque row, to Russia-Ukraine war &am...",ThePrintIndia
9952,9952,2022-05-22 13:20:29+00:00,1528365181759283204,#TikTok Goes to War with #Russia's Invasion of...,ScottLucas_EA
9953,9953,2022-05-22 13:20:25+00:00,1528365166458552320,Another Russian Suicide Scramble.\n\nLviv para...,MateuszSobiera3
9954,9954,2022-05-22 13:20:20+00:00,1528365145478537217,Prezydent Zełenski przyznał miastu Rzeszów tyt...,JolantaRom
9955,9955,2022-05-22 13:20:18+00:00,1528365133633822721,"To all russians, begin dismantling the Moscow)...",zlootik
9956,9956,2022-05-22 13:20:10+00:00,1528365101421674498,Russia-Ukraine war live updates: Zelensky says...,washingtonpost
9957,9957,2022-05-22 13:20:06+00:00,1528365084111773697,Open Letter to Noam Chomsky (and Other Intelle...,icymihn
9958,9958,2022-05-22 13:20:04+00:00,1528365074465050624,Goya CEO responds to global food crisis caused...,JAPANYAMANOTERA
9959,9959,2022-05-22 13:19:56+00:00,1528365041040297984,@nitingokhale Mr Sushant Singh has raised alar...,shailykm
9960,9960,2022-05-22 13:19:55+00:00,1528365039996092417,Ukraine war: Azov Battalion evacuates dead aft...,Christi10132928
9961,9961,2022-05-22 13:19:50+00:00,1528365017560625152,Russia-Ukraine war: airstrikes target Mykolaiv...,monicaselfies
9962,9962,2022-05-22 13:19:44+00:00,1528364994399817731,Putin’s Black Sea blockade leaves millions fac...,knittingknots
9963,9963,2022-05-22 13:19:41+00:00,1528364980080369665,⚠️📢 Secretary of the Belarusian Security Counc...,InsiderGeo
9964,9964,2022-05-22 13:19:17+00:00,1528364877257052161,Russia Invasion of Ukraine Day 88 – Russians s...,knittingknots
9965,9965,2022-05-22 13:19:16+00:00,1528364873398337538,Check out AFRIKA IS ALKEBULAN's video! #TikTok...,Psyaddict4ever
9966,9966,2022-05-22 13:19:08+00:00,1528364842238844931,Awesome job @elonmusk! Слава Україні! \n\n#Ukr...,PerceptivePlum
9967,9967,2022-05-22 13:19:07+00:00,1528364837155524608,@RahulGandhi Modi Government won't raise oil b...,vinita_ugaonkar
9968,9968,2022-05-22 13:18:59+00:00,1528364805404254208,#UkraineWar is the sacrifical lamb of #Democracy.,GoodMenzo
9969,9969,2022-05-22 13:18:39+00:00,1528364721014980608,"Hey Russia, what would John Lennon think of yo...",KarstenStrauss
9970,9970,2022-05-22 13:18:37+00:00,1528364712961769472,Finland’s leaders announced Thursday that they...,Christi57469296
9971,9971,2022-05-22 13:18:37+00:00,1528364709988155393,Zelensky wants to grant Polish citizens specia...,knittingknots
9972,9972,2022-05-22 13:18:33+00:00,1528364695849254913,Technicians linked to the Syrian military’s in...,ColossusDiplo
9973,9973,2022-05-22 13:18:17+00:00,1528364629046575104,Russia's war drains focus and funds from the w...,KendallHarmon6
9974,9974,2022-05-22 13:18:04+00:00,1528364571643232257,‼️ Fierce fighting is taking place in the #Izy...,hem_day
9975,9975,2022-05-22 13:17:32+00:00,1528364436737638400,RM-70 Vampire transferido por la República Che...,alfonso_poza
9976,9976,2022-05-22 13:17:31+00:00,1528364436486078464,Pretty much.\n#Bidenflation #UkraineWar #BabyF...,ChudMoist
9977,9977,2022-05-22 13:17:06+00:00,1528364329543815168,New video is up. We're looking at these warmon...,ClaytonMorris
9978,9978,2022-05-22 13:16:43+00:00,1528364232424976388,Two Ukranian soliders (observers) from the 12...,WARFOOTAGE2
9979,9979,2022-05-22 13:16:39+00:00,1528364215014199296,EA on @TRTWorld: #Putin's War on #Ukraine --- ...,ScottLucas_EA
9980,9980,2022-05-22 13:16:38+00:00,1528364212879245312,"If You Watch The News, You Know Donbas Is The ...",_SELENATORS1992
9981,9981,2022-05-22 13:16:35+00:00,1528364198559993857,"""The EU...may be interested in importing carbo...",aeberman12
9982,9982,2022-05-22 13:16:23+00:00,1528364148526129152,Ukraine war: How Putin's invasion is causing a...,SaveBritishFood
9983,9983,2022-05-22 13:16:13+00:00,1528364106314657793,@edinburgh_expo @general_ben @politico China i...,aavinashchaliha
9984,9984,2022-05-22 13:16:10+00:00,1528364095098978306,🤷🏼‍♀️ #UkraineWar #Ukraina #Russian #russia #n...,blondiii07
9985,9985,2022-05-22 13:15:58+00:00,1528364045505544192,Poland want to use the Ukraine war as an excus...,EuropeanOpinion
9986,9986,2022-05-22 13:15:33+00:00,1528363939762819073,Russia VS Ukraine War. https://t.co/rBfA0xnPrH,Budisan49625819
9987,9987,2022-05-22 13:15:28+00:00,1528363919236026368,Russian Officer who fled war humiliates Putin ...,slavrover
9988,9988,2022-05-22 13:15:27+00:00,1528363916274847746,"For your information, SCAR-L is a real killing...",Ewe_Paz_HeT
9989,9989,2022-05-22 13:15:27+00:00,1528363916182835201,@msmsaifullah by their own govt.'s propaganda ...,Stranger_The
9990,9990,2022-05-22 13:15:26+00:00,1528363911019470849,Buy a DIGITAL FILE sale on ETSY to help Ukrain...,MomsDoBusiness
9991,9991,2022-05-22 13:15:02+00:00,1528363808904949760,The Russian and Ukraine war don’t make sense a...,jessykigen
9992,9992,2022-05-22 13:14:21+00:00,1528363638322614272,@Jpstyles8 Mahama - covid - Russia Ukraine war.,PaaChicharito
9993,9993,2022-05-22 13:14:16+00:00,1528363618525388801,Successes of guerrillas in Zaporizhzhya region...,knittingknots
9994,9994,2022-05-22 13:14:14+00:00,1528363609658642433,Κοιτάξτε απλώς τα πρόσωπα των Ρώσων μαχητών κα...,maria_alexea
9995,9995,2022-05-22 13:14:07+00:00,1528363577752662019,Wow . Would suck to see that coming and think ...,Patrick98109645
9996,9996,2022-05-22 13:14:06+00:00,1528363575844261892,@akshayalladi China doesn't want to treat anyo...,76MuSohlHW1jQ5J
9997,9997,2022-05-22 13:14:01+00:00,1528363553199214594,@karstenk713 @CikaCrni21 @welt ja klar sorgt d...,anti_prop
9998,9998,2022-05-22 13:13:58+00:00,1528363539928436736,"""Unprecedented"": Azov reveals how helicopters ...",knittingknots
9999,9999,2022-05-22 13:13:35+00:00,1528363443266396160,A lesson from the Ukraine war: Secure our semi...,Kogonuso_Media
10000,10000,2022-05-22 13:13:28+00:00,1528363414564782081,A lesson from the Ukraine war: Secure our semi...,Geezgo

In [7]:
df.shape

(10001, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10001 non-null  int64
 1   Datetime    10001 non-null  object
 2   Tweet Id    10001 non-null  int64
 3   Text        10001 non-null  object
 4   Username    10001 non-null  object
dtypes: int64(2), object(3)
memory usage: 390.8+ KB

In [9]:
df.describe()

         Unnamed: 0      Tweet Id
count  10001.000000  1.000100e+04
mean    5000.000000  1.528628e+18
std     2887.184355  1.507154e+14
min        0.000000  1.528363e+18
25%     2500.000000  1.528484e+18
50%     5000.000000  1.528654e+18
75%     7500.000000  1.528752e+18
max    10000.000000  1.528888e+18

In [10]:
df.value_counts()

Unnamed: 0  Datetime                   Tweet Id             Text                                                                                                                                                                                                                                                                                                       Username
0           2022-05-23 23:59:09+00:00  1528888293852872704  #TikTok #russia #refugeecrisis #ukraine #famine #europe #UkraineRussiaWar #ukrainewar https://t.co/fdR9qROZgR                                                                                                                                                                                              Danaya_Pashneya    1
6671        2022-05-23 00:56:41+00:00  1528540384477028352  @TelegraphWorld Actually, the Ukraine war has exposed MSM to be a captured "bitch" for the DOD and CIA.                                                                                                                                                                                                    pissedboomer       1
6664        2022-05-23 00:59:00+00:00  1528540967078273024  Russia-Ukraine war: what we know on day 89 of the invasion - The Guardian https://t.co/tpDPQxTkTJ                                                                                                                                                                                                          vonweezz           1
6665        2022-05-23 00:58:42+00:00  1528540894894366720  V\nUS General warns cadets graduating from West Point to prepare for a global war between superpowers fighting with robotic tanks, ships and planes as brutal Ukraine war continues\n======\n\nhttps://t.co/zaa9j2ZPzR https://t.co/W9pLL0BUiL                                                             triantafyllidi2    1
6666        2022-05-23 00:58:00+00:00  1528540719014715392  Ukraine war has taught us that we are all refugees now https://t.co/q1CpCZSru6 #FoxNews                                                                                                                                                                                                                    PerneciaT          1
                                                                                                                                                                                                                                                                                                                                                                                         ..
3334        2022-05-23 12:59:19+00:00  1528722240228966400  @_edgarfriendly We can also read this as bypassing Russia for the new energy route arrangement. Consider the Caspian/Black Sea project. It can open your eyes in the interpretation of many events, including the Ukraine war.\niron silk road project.Everything is done for one thing again. More power  OzanTepeyurt       1
3335        2022-05-23 12:59:18+00:00  1528722238630944769  The storming of Liman through the eyes of local residents. The city is being shelled intensively.\n\n#Ukraine #Russia #poland #BreakingNews #breaking #war #UkraineWar #ukraina https://t.co/eXKkZLA2HG                                                                                                    MateuszSobiera3    1
3336        2022-05-23 12:59:18+00:00  1528722238437998592  Russian soldier gets life imprisonment in first Ukraine war crimes trial\n\n#BBNaija The Guy #aksu Quadruple Neymar #olosho congratulations maria chike Zadok Chigurl Frank Anambra #toto pastor p Biafra Mr Bayo Gundogan https://t.co/zXkeRKr3Ai                                                         mcebiscocom        1
3337        2022-05-23 12:59:10+00:00  1528722202668871680  The Ukraine war and other conflicts pushed the number of people forced to flee conflict, violence, human rights violations and persecution over the staggering milestone of 100 million for the first time on record, said the UN Refugee Agency (UNHCR).\n\nhttps://t.co/Mn2sp5vSJp                       sw989fm            1
10000       2022-05-22 13:13:28+00:00  1528363414564782081  A lesson from the Ukraine war: Secure our semiconductor supply chains https://t.co/6zbtxIe9AH                                                                                                                                                                                                              Geezgo             1
Length: 10001, dtype: int64

In [11]:
df.dropna

<bound method DataFrame.dropna of        Unnamed: 0                   Datetime             Tweet Id  \
0               0  2022-05-23 23:59:09+00:00  1528888293852872704
1               1  2022-05-23 23:58:52+00:00  1528888224713777154
2               2  2022-05-23 23:58:52+00:00  1528888224197660672
3               3  2022-05-23 23:58:52+00:00  1528888221907636224
4               4  2022-05-23 23:58:47+00:00  1528888200696975360
...           ...                        ...                  ...
9996         9996  2022-05-22 13:14:06+00:00  1528363575844261892
9997         9997  2022-05-22 13:14:01+00:00  1528363553199214594
9998         9998  2022-05-22 13:13:58+00:00  1528363539928436736
9999         9999  2022-05-22 13:13:35+00:00  1528363443266396160
10000       10000  2022-05-22 13:13:28+00:00  1528363414564782081

                                                    Text         Username
0      #TikTok #russia #refugeecrisis #ukraine #famin...  Danaya_Pashneya
1      Russian diplomat to U.N. Boris Bondarev resign...       MJoyce2625
2      Ukrainian Presidential Office discloses how ma...    knittingknots
3      Ukraine War: The battle for Severodonetsk http...          will385
4      Alexander Lukashenko reminds me of an abused s...   i__heart__this
...                                                  ...              ...
9996   @akshayalladi China doesn't want to treat anyo...  76MuSohlHW1jQ5J
9997   @karstenk713 @CikaCrni21 @welt ja klar sorgt d...        anti_prop
9998   "Unprecedented": Azov reveals how helicopters ...    knittingknots
9999   A lesson from the Ukraine war: Secure our semi...   Kogonuso_Media
10000  A lesson from the Ukraine war: Secure our semi...           Geezgo

[10001 rows x 5 columns]>

In [12]:
df.dropna()

,Unnamed: 0,Datetime,Tweet Id,Text,Username
0,0,2022-05-23 23:59:09+00:00,1528888293852872704,#TikTok #russia #refugeecrisis #ukraine #famin...,Danaya_Pashneya
1,1,2022-05-23 23:58:52+00:00,1528888224713777154,Russian diplomat to U.N. Boris Bondarev resign...,MJoyce2625
2,2,2022-05-23 23:58:52+00:00,1528888224197660672,Ukrainian Presidential Office discloses how ma...,knittingknots
3,3,2022-05-23 23:58:52+00:00,1528888221907636224,Ukraine War: The battle for Severodonetsk http...,will385
4,4,2022-05-23 23:58:47+00:00,1528888200696975360,Alexander Lukashenko reminds me of an abused s...,i__heart__this
...,...,...,...,...,...
9996,9996,2022-05-22 13:14:06+00:00,1528363575844261892,@akshayalladi China doesn't want to treat anyo...,76MuSohlHW1jQ5J
9997,9997,2022-05-22 13:14:01+00:00,1528363553199214594,@karstenk713 @CikaCrni21 @welt ja klar sorgt d...,anti_prop
9998,9998,2022-05-22 13:13:58+00:00,1528363539928436736,"""Unprecedented"": Azov reveals how helicopters ...",knittingknots
9999,9999,2022-05-22 13:13:35+00:00,1528363443266396160,A lesson from the Ukraine war: Secure our semi...,Kogonuso_Media
10000,10000,2022-05-22 13:13:28+00:00,1528363414564782081,A lesson from the Ukraine war: Secure our semi...,Geezgo

In [13]:
# Selection
df.columns = ['Serial Number', 'Datetime', 'Tweet Id', 'Text', 'Username']

In [14]:
df.rename(columns={'Text':'Tweet Text', 'Username': 'Twitter Username'}, inplace = True)

In [15]:
df

,Serial Number,Datetime,Tweet Id,Tweet Text,Twitter Username
0,0,2022-05-23 23:59:09+00:00,1528888293852872704,#TikTok #russia #refugeecrisis #ukraine #famin...,Danaya_Pashneya
1,1,2022-05-23 23:58:52+00:00,1528888224713777154,Russian diplomat to U.N. Boris Bondarev resign...,MJoyce2625
2,2,2022-05-23 23:58:52+00:00,1528888224197660672,Ukrainian Presidential Office discloses how ma...,knittingknots
3,3,2022-05-23 23:58:52+00:00,1528888221907636224,Ukraine War: The battle for Severodonetsk http...,will385
4,4,2022-05-23 23:58:47+00:00,1528888200696975360,Alexander Lukashenko reminds me of an abused s...,i__heart__this
...,...,...,...,...,...
9996,9996,2022-05-22 13:14:06+00:00,1528363575844261892,@akshayalladi China doesn't want to treat anyo...,76MuSohlHW1jQ5J
9997,9997,2022-05-22 13:14:01+00:00,1528363553199214594,@karstenk713 @CikaCrni21 @welt ja klar sorgt d...,anti_prop
9998,9998,2022-05-22 13:13:58+00:00,1528363539928436736,"""Unprecedented"": Azov reveals how helicopters ...",knittingknots
9999,9999,2022-05-22 13:13:35+00:00,1528363443266396160,A lesson from the Ukraine war: Secure our semi...,Kogonuso_Media
10000,10000,2022-05-22 13:13:28+00:00,1528363414564782081,A lesson from the Ukraine war: Secure our semi...,Geezgo

In [16]:
df[pd.isnull(df['Tweet Text'])]

Empty DataFrame
Columns: [Serial Number, Datetime, Tweet Id, Tweet Text, Twitter Username]
Index: []

In [17]:
df['Twitter Username'] == "anti_prop"

0        False
1        False
2        False
3        False
4        False
         ...
9996     False
9997      True
9998     False
9999     False
10000    False
Name: Twitter Username, Length: 10001, dtype: bool

In [18]:
dfClip = pd.read_clipboard()

In [19]:
dfNewClip = dfClip

In [20]:
dfNewClip.dropna()

Empty DataFrame
Columns: [http://127.0.0.1:8888/?token=c3a0acaefdff21f4da715d9b710fe24cf5324d01ce7ce806]
Index: []

In [21]:
# dfClip.fillna(dfClip['11'].mean())

In [22]:
df['Serial Number'] = df['Serial Number'].astype(str)

In [23]:
df.columns

Index(['Serial Number', 'Datetime', 'Tweet Id', 'Tweet Text',
       'Twitter Username'],
      dtype='object')

In [24]:
df['Tweet Id'] = df['Tweet Id'].replace(1528888293852872704 , 10000)

In [25]:
df['Twitter Username'] = df['Twitter Username'].replace(['First UserName','Last UserName'],'User_Name')

In [26]:
df

,Serial Number,Datetime,Tweet Id,Tweet Text,Twitter Username
0,0,2022-05-23 23:59:09+00:00,10000,#TikTok #russia #refugeecrisis #ukraine #famin...,Danaya_Pashneya
1,1,2022-05-23 23:58:52+00:00,1528888224713777154,Russian diplomat to U.N. Boris Bondarev resign...,MJoyce2625
2,2,2022-05-23 23:58:52+00:00,1528888224197660672,Ukrainian Presidential Office discloses how ma...,knittingknots
3,3,2022-05-23 23:58:52+00:00,1528888221907636224,Ukraine War: The battle for Severodonetsk http...,will385
4,4,2022-05-23 23:58:47+00:00,1528888200696975360,Alexander Lukashenko reminds me of an abused s...,i__heart__this
...,...,...,...,...,...
9996,9996,2022-05-22 13:14:06+00:00,1528363575844261892,@akshayalladi China doesn't want to treat anyo...,76MuSohlHW1jQ5J
9997,9997,2022-05-22 13:14:01+00:00,1528363553199214594,@karstenk713 @CikaCrni21 @welt ja klar sorgt d...,anti_prop
9998,9998,2022-05-22 13:13:58+00:00,1528363539928436736,"""Unprecedented"": Azov reveals how helicopters ...",knittingknots
9999,9999,2022-05-22 13:13:35+00:00,1528363443266396160,A lesson from the Ukraine war: Secure our semi...,Kogonuso_Media
10000,10000,2022-05-22 13:13:28+00:00,1528363414564782081,A lesson from the Ukraine war: Secure our semi...,Geezgo

# Filter in Pandas

In [27]:
SalesDf  = pd.read_excel('Dataset/SalesData.xls')

In [28]:
SalesDf[SalesDf['Customer Name']  == 'Claire Gute'].shape[0]

5

In [29]:
SalesDf[SalesDf['Sales'] > 800].shape[0]

656

In [30]:
SalesDf[(SalesDf['Category'] == 'Furniture') | (SalesDf['Sub-Category'] == 'Bookcases')].shape[0]

2121

# Sorting in Pandas

In [31]:
SalesDf.sort_values(by = 'Customer Name', ascending = False, inplace = True)

In [32]:
SalesDf[SalesDf.sort_values(by = ['Customer Name', 'City'], ascending = [True, True])['Customer Name'] == 'Aaron Bergman']

C:\Users\Vinoth\AppData\Local\Temp/ipykernel_2940/3400488491.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  SalesDf[SalesDf.sort_values(by = ['Customer Name', 'City'], ascending = [True, True])['Customer Name'] == 'Aaron Bergman']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
4963,4964,CA-2014-156587,2014-03-07,2014-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103,West,OFF-ST-10002344,Office Supplies,Storage,"Carina 42""Hx23 3/4""W Media Storage Unit",242.940,3,0.0,4.8588
8222,8223,CA-2014-152905,2014-02-18,2014-02-24,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,...,76017,Central,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,12.624,2,0.2,-2.5248
4961,4962,CA-2014-156587,2014-03-07,2014-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103,West,FUR-CH-10004477,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
8801,8802,CA-2016-140935,2016-11-10,2016-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,73120,Central,TEC-PH-10000562,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
8802,8803,CA-2016-140935,2016-11-10,2016-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,73120,Central,FUR-BO-10003966,Furniture,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136
4962,4963,CA-2014-156587,2014-03-07,2014-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103,West,OFF-AR-10001427,Office Supplies,Art,Newell 330,17.940,3,0.0,4.6644

In [33]:
SalesDf

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
5897,5898,CA-2016-167682,2016-04-03,2016-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,47374,Central,FUR-FU-10003799,Furniture,Furnishings,"Seth Thomas 13 1/2"" Wall Clock",71.120,4,0.0,22.0472
20,21,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.720,4,0.2,7.3840
19,20,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.480,3,0.2,16.0110
3815,3816,CA-2016-152471,2016-07-08,2016-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,32216,South,OFF-PA-10004965,Office Supplies,Paper,Xerox 1921,15.984,2,0.2,4.9950
8341,8342,CA-2017-141481,2017-06-11,2017-06-14,First Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Los Angeles,...,90036,West,OFF-AP-10004532,Office Supplies,Appliances,Kensington 6 Outlet Guardian Standard Surge Pr...,61.440,3,0.0,16.5888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8222,8223,CA-2014-152905,2014-02-18,2014-02-24,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,...,76017,Central,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,12.624,2,0.2,-2.5248
4961,4962,CA-2014-156587,2014-03-07,2014-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103,West,FUR-CH-10004477,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
8801,8802,CA-2016-140935,2016-11-10,2016-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,73120,Central,TEC-PH-10000562,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
8802,8803,CA-2016-140935,2016-11-10,2016-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,73120,Central,FUR-BO-10003966,Furniture,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136
4962,4963,CA-2014-156587,2014-03-07,2014-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103,West,OFF-AR-10001427,Office Supplies,Art,Newell 330,17.940,3,0.0,4.6644

# Pandas GroupBy

In [34]:
newDf = pd.DataFrame(SalesDf.groupby('Region').mean()['Sales']).reset_index()

In [35]:
newDf.set_index('Region', inplace=True)

In [36]:
newDf

              Sales
Region
Central  215.772661
East     238.336110
South    241.803645
West     226.493233

In [37]:
SalesDf['CostPrice'] = SalesDf['Sales'] - SalesDf['Profit']

In [38]:
SalesDf['2%OfCostPrice'] = (SalesDf['CostPrice']* 2)/100

In [39]:
# Max --> 24449.5584
# Min --> 0.5543999999999999

In [40]:
def CalculateFiftyPercent(x):
    return (x*50)/100

In [41]:
# 5000 - 10000 Min Cost Price
# 10000 - 20000 Acceptable Cost Price
# >20000 Max Cost Price


SalesDf['Level Of CostPrice'] = SalesDf['CostPrice'].apply()

TypeError: apply() missing 1 required positional argument: 'func'

In [42]:
SalesDf

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,CostPrice,2%OfCostPrice
5897,5898,CA-2016-167682,2016-04-03,2016-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,FUR-FU-10003799,Furniture,Furnishings,"Seth Thomas 13 1/2"" Wall Clock",71.120,4,0.0,22.0472,49.0728,0.981456
20,21,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.720,4,0.2,7.3840,15.3360,0.306720
19,20,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.480,3,0.2,16.0110,197.4690,3.949380
3815,3816,CA-2016-152471,2016-07-08,2016-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,OFF-PA-10004965,Office Supplies,Paper,Xerox 1921,15.984,2,0.2,4.9950,10.9890,0.219780
8341,8342,CA-2017-141481,2017-06-11,2017-06-14,First Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Los Angeles,...,OFF-AP-10004532,Office Supplies,Appliances,Kensington 6 Outlet Guardian Standard Surge Pr...,61.440,3,0.0,16.5888,44.8512,0.897024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8222,8223,CA-2014-152905,2014-02-18,2014-02-24,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,...,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,12.624,2,0.2,-2.5248,15.1488,0.302976
4961,4962,CA-2014-156587,2014-03-07,2014-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,FUR-CH-10004477,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801,43.2319,0.864638
8801,8802,CA-2016-140935,2016-11-10,2016-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,TEC-PH-10000562,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,159.8256,3.196512
8802,8803,CA-2016-140935,2016-11-10,2016-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,FUR-BO-10003966,Furniture,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136,287.2464,5.744928
4962,4963,CA-2014-156587,2014-03-07,2014-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,OFF-AR-10001427,Office Supplies,Art,Newell 330,17.940,3,0.0,4.6644,13.2756,0.265512

In [60]:
SalesDf.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,CostPrice,2%OfCostPrice
5897,5898,CA-2016-167682,2016-04-03,2016-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,FUR-FU-10003799,Furniture,Furnishings,"Seth Thomas 13 1/2"" Wall Clock",71.120,4,0.0,22.0472,49.0728,0.981456
20,21,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.720,4,0.2,7.3840,15.3360,0.306720
19,20,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.480,3,0.2,16.0110,197.4690,3.949380
3815,3816,CA-2016-152471,2016-07-08,2016-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,OFF-PA-10004965,Office Supplies,Paper,Xerox 1921,15.984,2,0.2,4.9950,10.9890,0.219780
8341,8342,CA-2017-141481,2017-06-11,2017-06-14,First Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Los Angeles,...,OFF-AP-10004532,Office Supplies,Appliances,Kensington 6 Outlet Guardian Standard Surge Pr...,61.440,3,0.0,16.5888,44.8512,0.897024

# Append in Pandas

In [54]:
list_1 = [1,2,3,4,5,6,7,8,9,0]
list_2 = [11,22,33,44,66,7,8,9,0]

In [55]:
df_1 = pd.DataFrame(list_1)

In [56]:
df_2 = pd.DataFrame(list_2)

In [61]:
df_2.append(df_1)

    0
0  11
1  22
2  33
3  44
4  66
5   7
6   8
7   9
8   0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9   0

# Merge & Join in Pandas

In [66]:
customerDf = pd.read_csv('Dataset/Ecommerce/customers_dataset.csv')
ordersDf = pd.read_csv('Dataset/Ecommerce/orders_dataset.csv')

In [86]:
customerDf.merge(ordersDf, left_on= 'customer_id', right_on= 'customer_id', how = 'inner')

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00

In [80]:
customerDf.join(ordersDf,lsuffix ='_')

,customer_id_,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

# Concat in Pandas

In [87]:
pd.concat([customerDf,ordersDf])

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409.0,franca,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790.0,sao bernardo do campo,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151.0,sao paulo,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775.0,mogi das cruzes,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056.0,campinas,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
99436,39bd1228ee8140590ac3aca26f2dfe00,NaN,NaN,NaN,NaN,9c5dedf39a927c1b2549525ed64a053c,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,1fca14ff2861355f6e5f14306ff977a7,NaN,NaN,NaN,NaN,63943bddc261676b46f01ca7ac2f7bd8,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,1aa71eb042121263aafbe80c1b562c9c,NaN,NaN,NaN,NaN,83c1379a015df1e13d02aae0204711ab,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,b331b74b18dc79bcdf6532d51e1637c1,NaN,NaN,NaN,NaN,11c177c8e97725db2631073c19f07b62,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,edb027a75a1449115f6b43211ae02a24,NaN,NaN,NaN,NaN,66dea50a8b16d9b4dee7af250b4be1a5,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00